@{
	ViewData["Title"] = "Employee Dashboard";
}

<h1 class="text-center">Employee Dashboard</h1>

<div class="d-flex flex-column align-items-center mt-4">
	<a class="btn btn-primary m-2" href="@Url.Action("EmployeeIndex", "Artworks")">Manage Artworks</a>
	<a class="btn btn-primary m-2" href="@Url.Action("Add", "Artworks")">Add Artwork</a>
	<a class="btn btn-primary m-2" href="@Url.Action("EmployeeIndex", "Artists")">Manage Artists</a>
	<a class="btn btn-primary m-2" href="@Url.Action("Add", "Artists")">Add Artist</a>
	<a class="btn btn-primary m-2" href="@Url.Action("ExportCsv", "Artworks")">Export Artworks (CSV)</a>
	<a class="btn btn-primary m-2" href="@Url.Action("ExportJson", "Artworks")">Export Artworks (JSON)</a>
	<a class="btn btn-secondary m-2" href="@Url.Action("Logout", "Auth")">Logout</a>
</div>